<%= simple_form_for(@bus_reservation) do |f| %>
  <% if bus_reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bus_reservation.errors.count, "error") %> prohibited this bus_reservation from being saved:</h2>

      <ul>
      <% bus_reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :date %>
  <%= f.input :name %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
