<p id="notice"><%= notice %></p>

<h1>Bus Reservations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bus_reservations.each do |bus_reservation| %>
      <tr>
        <td><%= link_to 'Show', bus_reservation %></td>
        <td><%= link_to 'Edit', edit_bus_reservation_path(bus_reservation) %></td>
        <td><%= link_to 'Destroy', bus_reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bus Reservation', new_bus_reservation_path %>
